
# Ignore the node_modules directory
node_modules/


# Ignore Logs
logs
*.log

# Ignore the build directory
/distgit check-ignore app/access.log

# The file containing environment variables 
.env

#git check-ignore app/access.log  

